In [1]:
import category_encoders as ce
import pandas as pd

In [2]:
df_train = pd.read_csv("../Data/Final/train_data.csv")
df_test = pd.read_csv("../Data/Raw/test.csv")

In [3]:
df_train

,ofd_date,country_code,OFD_Expected,other,fc_codes,station_code,OFD,Slam,Earlies_Exp,Earlies_Rec,MNR_SNR_Exp,Rollover,Returns,R_Sideline,Sideline,weekday,week_no
0,2021-02-01,D,18679.0,-34.0,"F35, F40, F42, F43, F46, F48, F52, F53, F55, F56",D57,18645,18982.0,314.0,1177.0,65.0,145.0,126.0,356.0,2.0,0,5
1,2021-02-01,D,16838.0,-10.0,"F35, F36, F40, F42, F43, F46, F48, F49, F52, F...",D59,16828,16504.0,248.0,333.0,83.0,135.0,112.0,256.0,1.0,0,5
2,2021-02-01,D,12510.0,-31.0,"F35, F48, F52, F53, F54, F56",D69,12479,12345.0,163.0,196.0,64.0,64.0,62.0,136.0,0.0,0,5
3,2021-02-01,D,19104.0,-118.0,"F35, F36, F37, F38, F39, F40, F42, F43, F44, F...",D54,18986,18861.0,318.0,446.0,83.0,100.0,107.0,248.0,1.0,0,5
4,2021-02-01,D,16088.0,-63.0,"F35, F37, F38, F39, F40, F42, F43, F44, F46, F...",D60,16025,15768.0,487.0,383.0,62.0,69.0,195.0,15.0,1.0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9263,2021-06-30,C,10053.0,-47.0,"F6, F8, F13, F14, F17",D50,10006,10423.0,399.0,842.0,52.0,60.0,65.0,1.0,1.0,2,26
9264,2021-06-30,C,11223.0,-58.0,"F2, F6, F7, F10, F12, F13, F14, F15, F19",D45,11165,11467.0,514.0,769.0,56.0,39.0,29.0,0.0,1.0,2,26
9265,2021-06-30,C,14628.0,-66.0,"F1, F4, F6, F7, F13, F15, F16",D34,14562,15651.0,1028.0,1910.0,225.0,35.0,47.0,3.0,1.0,2,26
9266,2021-06-30,C,12779.0,-43.0,"F6, F8, F9, F14, F17, F18",D37,12736,13111.0,655.0,823.0,211.0,29.0,17.0,2.0,1.0,2,26
9267,2021-06-30,C,14639.0,-45.0,"F6, F8, F14, F17",D33,14594,14568.0,782.0,896.0,615.0,767.0,35.0,2.0,4.0,2,26

In [4]:
df_test

,ofd_date,country_code,fc_codes,station_code,OFD,Slam,Earlies_Rec,Rollover,Returns,R_Sideline,Sideline
0,2021-07-31,C,"F6, F8, F14, F17",D33,10231,10957,347,43,42,2,629
1,2021-07-31,C,"F6, F8, F9, F14, F17, F18",D37,10113,10261,285,50,25,0,165
2,2021-07-31,C,"F1, F4, F6, F7, F13, F15, F16",D34,11633,11789,300,24,30,0,202
3,2021-07-31,C,"F2, F6, F7, F10, F12, F13, F14, F15, F19",D45,8633,8482,180,713,24,1,276
4,2021-07-31,C,"F6, F8, F13, F14, F17",D50,6972,7222,116,24,16,0,130
...,...,...,...,...,...,...,...,...,...,...,...
2384,2021-07-01,D,"F35, F37, F38, F39, F40, F42, F43, F44, F46, F...",D60,11782,14462,113,34,88,0,0
2385,2021-07-01,D,"F35, F36, F37, F38, F39, F40, F42, F43, F44, F...",D54,16615,16643,222,37,95,1,0
2386,2021-07-01,D,"F35, F48, F52, F53, F54, F56",D69,10733,10801,54,26,64,1,0
2387,2021-07-01,D,"F35, F36, F40, F42, F43, F46, F48, F49, F52, F...",D59,14633,14650,91,51,80,1,0
2388,2021-07-01,D,"F35, F40, F42, F43, F46, F48, F52, F53, F55, F56",D57,15562,15502,173,44,92,10,1

In [7]:
df_test = df_test.iloc[::-1]
df_test['ofd_date'] = pd.to_datetime(df_test['ofd_date'], format = "%Y-%m-%d")
df_test["weekday"] = df_test["ofd_date"].dt.weekday
df_test["week_no"] = df_test["ofd_date"].dt.isocalendar().week

In [6]:
df_test_MNR = df_test.copy()
df_test_Earl = df_test.copy()

In [7]:
target_encoder = ce.TargetEncoder(cols=["country_code", "station_code"], return_df = True, verbose=1)

In [8]:
df_temp = df_train.loc[:,["country_code", "station_code"]]
target_encoder.fit(X = df_temp, y = df_train["MNR_SNR_Exp"])
df_temp = df_test.loc[:,["country_code", "station_code"]]
df_test_MNR.drop(df_test_MNR.columns[[1,3]], axis=1, inplace=True)
df_test_MNR = pd.concat([df_test_MNR, target_encoder.transform(X = df_temp)], axis=1)
df_temp = df_train.loc[:,["country_code", "station_code"]]
target_encoder.fit(X = df_temp, y = df_train["Earlies_Exp"])
df_temp = df_test.loc[:,["country_code", "station_code"]]
df_test_Earl.drop(df_test_Earl.columns[[1,3]], axis=1, inplace=True)
df_test_Earl = pd.concat([df_test_Earl, target_encoder.transform(X = df_temp)], axis=1)

In [9]:
binary_encoder = ce.BinaryEncoder(cols=["fc_codes"], return_df = True, verbose=1)

In [10]:
df_temp = df_train.loc[:,["fc_codes"]]
binary_encoder.fit(X = df_temp, y = df_train["MNR_SNR_Exp"])
df_temp = df_test.loc[:,["fc_codes"]]
df_test_MNR.drop(df_test_MNR.columns[1], axis=1, inplace=True)
df_test_MNR = pd.concat([df_test_MNR, binary_encoder.transform(X = df_temp)], axis=1)
df_temp = df_train.loc[:,["fc_codes"]]
binary_encoder.fit(X = df_temp, y = df_train["Earlies_Exp"])
df_temp = df_test.loc[:,["fc_codes"]]
df_test_Earl.drop(df_test_Earl.columns[1], axis=1, inplace=True)
df_test_Earl = pd.concat([df_test_Earl, binary_encoder.transform(X = df_temp)], axis=1)

In [11]:
df_test_MNR

,ofd_date,OFD,Slam,Earlies_Rec,Rollover,Returns,R_Sideline,Sideline,weekday,week_no,country_code,station_code,fc_codes_0,fc_codes_1,fc_codes_2,fc_codes_3,fc_codes_4,fc_codes_5
2388,2021-07-01,15562,15502,173,44,92,10,1,3,26,83.05449,92.472973,0,0,0,0,0,1
2387,2021-07-01,14633,14650,91,51,80,1,0,3,26,83.05449,107.226667,0,0,0,0,1,0
2386,2021-07-01,10733,10801,54,26,64,1,0,3,26,83.05449,73.884354,0,0,0,0,1,1
2385,2021-07-01,16615,16643,222,37,95,1,0,3,26,83.05449,70.645833,0,0,0,1,0,0
2384,2021-07-01,11782,14462,113,34,88,0,0,3,26,83.05449,80.193333,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2021-07-31,6972,7222,116,24,16,0,130,5,30,179.45036,167.258929,1,0,1,0,0,1
3,2021-07-31,8633,8482,180,713,24,1,276,5,30,179.45036,178.160000,1,0,1,0,1,0
2,2021-07-31,11633,11789,300,24,30,0,202,5,30,179.45036,171.072917,1,0,1,0,1,1
1,2021-07-31,10113,10261,285,50,25,0,165,5,30,179.45036,149.185185,1,0,1,1,0,0
0,2021-07-31,10231,10957,347,43,42,2,629,5,30,179.45036,223.018692,1,0,1,1,0,1

In [12]:
df_test_Earl

,ofd_date,OFD,Slam,Earlies_Rec,Rollover,Returns,R_Sideline,Sideline,weekday,week_no,country_code,station_code,fc_codes_0,fc_codes_1,fc_codes_2,fc_codes_3,fc_codes_4,fc_codes_5
2388,2021-07-01,15562,15502,173,44,92,10,1,3,26,236.774638,320.101351,0,0,0,0,0,1
2387,2021-07-01,14633,14650,91,51,80,1,0,3,26,236.774638,236.393333,0,0,0,0,1,0
2386,2021-07-01,10733,10801,54,26,64,1,0,3,26,236.774638,150.435374,0,0,0,0,1,1
2385,2021-07-01,16615,16643,222,37,95,1,0,3,26,236.774638,262.979167,0,0,0,1,0,0
2384,2021-07-01,11782,14462,113,34,88,0,0,3,26,236.774638,220.686667,0,0,0,1,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4,2021-07-31,6972,7222,116,24,16,0,130,5,30,756.861871,661.232143,1,0,1,0,0,1
3,2021-07-31,8633,8482,180,713,24,1,276,5,30,756.861871,851.990000,1,0,1,0,1,0
2,2021-07-31,11633,11789,300,24,30,0,202,5,30,756.861871,1111.750000,1,0,1,0,1,1
1,2021-07-31,10113,10261,285,50,25,0,165,5,30,756.861871,809.666667,1,0,1,1,0,0
0,2021-07-31,10231,10957,347,43,42,2,629,5,30,756.861871,953.971963,1,0,1,1,0,1

In [13]:
df_test_MNR.to_csv("../Data/Final/test_MNR.csv", index=False)
df_test_Earl.to_csv("../Data/Final/test_Earl.csv", index=False)